* {
	box-sizing: border-box;
}

#app-container {
	/* background-color: beige; */
}

#content-area {
	/* background-color: burlywood; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	width: 100%;
}
